﻿@using Microsoft.AspNetCore.Identity
@using TaskSchedulerManager.Data.Identity.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                @*<button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>*@

                @*data-toggle="tooltip" data-placement="top" title="Tooltip on top">*@
                <a  class="dropdown-toggle" style="cursor:pointer;" data-toggle="tooltip" data-placement="bottom" title="Logout" onclick="document.getElementById('logoutForm').submit();">
                    <i class="material-icons">exit_to_app</i>
                    <p class="hidden-lg hidden-md">Logout</p>
                </a>

               
                @*<a onclick="document.getElementById('logoutForm').submit();" class="fa icon fa-sign-out" style="cursor:pointer;" title="Log off"><span class="label">Log off</span></a>*@
            </li>
        </ul>
    </form>
}
else
{

    @*<ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>*@


    @*<ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
        </ul>*@
}

