﻿@model TaskManager.Models.TasksViewModels.CreateTaskViewModel

@using Microsoft.Extensions.Options;
@using TaskManager.Services.Interfaces

@inject IMainDatabaseService mainDatabaseService
@inject ITenantDatabaseService tenantDatabaseService

@inject IOptions<TaskManager.Middleware.TenantMiddlewareOptions> options


@{
    ViewData["Title"] = "New";
}

<h2>Settings Table for TaskTypeId: @Model.TaskTypeId</h2>


@*
    GET Tenant Settings Table By TaskTypeId

    1 - Query main database [TaskTypes] where TaskTypeId = Model.TaskTypeId  and get the settings table name
    2- Query the settings table in the tenant database to get table column properties and render the form
*@

@{

    var settingsTable = @mainDatabaseService.GetSettingsTableNameForTaskTypeId(options.Value.MainConnectionString, Model.TaskTypeId);

    Model.SettingsTableFormFields = mainDatabaseService.GetTableColumnProperties(options.Value.TenantConnectionString, settingsTable);

    if (Model.SettingsTableFormFields.Any())
    {



        for (int i = 0; i <= Model.SettingsTableFormFields.Count() - 1; i++)
        {
            

            <div class="col-md-3">
                <div class="form-group label-floating">
                    @*<label class="control-label">@Model.SettingsTableFormFields[i].FieldName</label>
                    <input asp-for="@Model.SettingsTableFormFields[i].FieldValue" />

                    <input type="text" id="SettingsTableFormFields_0__FieldValue" name="SettingsTableFormFields[0].FieldValue" value="">*@

                    @Html.HiddenFor(p => p.SettingsTableFormFields[i].FieldName)
                    @Html.HiddenFor(p => p.SettingsTableFormFields[i].FieldDataType)
                    @Html.HiddenFor(p => p.SettingsTableFormFields[i].FieldType)

                    <label class="control-label">@Model.SettingsTableFormFields[i].FieldName</label>
                    <dynamic-form-field column-name="@Model.SettingsTableFormFields[i].FieldName"
                                        column-value="@Model.SettingsTableFormFields[i].FieldValue"
                                        column-index="@i"
                                        field-type="@Model.SettingsTableFormFields[i].FieldType"
                                        field-data-type="@Model.SettingsTableFormFields[i].FieldDataType"
                                        is-editable="!@Model.SettingsTableFormFields[i].IsPrimaryKey" is-settings-table-field="true" is-required="@Model.SettingsTableFormFields[i].Required" />

                </div>
            </div>
        }
    }

}

