@model TaskManager.Models.TasksViewModels.CreateTaskViewModel

@using Microsoft.Extensions.Options;
@using TaskManager.Services.Interfaces


@inject IMainDatabaseService mainDatabaseService
@inject IOptions<TaskManager.Middleware.TenantMiddlewareOptions> options


@{
    ViewData["Title"] = "Display";
}

<h2>Display</h2>





<div class="row">

    @for (int i = 0; i < Model.CommonTaskFormFields.Count(); i++)
    {
        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">@Model.CommonTaskFormFields[i].FieldName</label>


                @Html.HiddenFor(p => p.CommonTaskFormFields[i].FieldName)
                @Html.HiddenFor(p => p.CommonTaskFormFields[i].FieldDataType)
                @Html.HiddenFor(p => p.CommonTaskFormFields[i].FieldType)

                <dynamic-form-field column-name="@Model.CommonTaskFormFields[i].FieldName" column-value="@Model.CommonTaskFormFields[i].FieldValue" column-index="@i"
                                    field-type="@Model.CommonTaskFormFields[i].FieldType" field-data-type="@Model.CommonTaskFormFields[i].FieldDataType" is-editable="false" />


            </div>
        </div>
    }


</div>

<hr />

<div class="row">
 
        @*@{
            var settingsTable = mainDatabaseService.GetSettingsTableByTaskTypeId(@options.Value.MainConnectionString, @Model.TaskTypeId);
        }

        @Model.SettingsTableFormFields = @mainDatabaseService.GetTableColumnProperties(options.Value.TenantConnectionString, settingsTable);*@

        @if (Model.SettingsTableFormFields.Any())
        {
            @for (int i = 0; i <= Model.SettingsTableFormFields.Count() - 1; i++)
            {


                <div class="col-md-3">
                    <div class="form-group label-floating">

                        @Html.HiddenFor(p => p.SettingsTableFormFields[i].FieldName)
                        @Html.HiddenFor(p => p.SettingsTableFormFields[i].FieldDataType)
                        @Html.HiddenFor(p => p.SettingsTableFormFields[i].FieldType)

                        <label class="control-label">@Model.SettingsTableFormFields[i].FieldName</label>
                        <dynamic-form-field column-name="@Model.SettingsTableFormFields[i].FieldName"
                                            column-value="@Model.SettingsTableFormFields[i].FieldValue"
                                            column-index="@i"
                                            field-type="@Model.SettingsTableFormFields[i].FieldType"
                                            field-data-type="@Model.SettingsTableFormFields[i].FieldDataType"
                                            is-settings-table-field="true" is-required="@Model.SettingsTableFormFields[i].Required" is-editable="false" />

                    </div>
                </div>
            }
        }
        else
        {
            <h1> Does not contain any data for the Task:</h1>
            <p>@Model.CommonTaskFormFields.Where(t => t.FieldName == "Description").SingleOrDefault().FieldValue</p>

        }


</div>

<div class="row">

    <a asp-controller="Tasks" asp-action="List" class="btn btn-primary pull-right">Return</a>
    <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@Model.CommonTaskFormFields.FirstOrDefault(f=>f.FieldName == "Id").FieldValue" class="btn btn-primary pull-right">Edit</a>

    <div class="clearfix"></div>
</div>