﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<a asp-controller="Tasks" asp-action="New" class="btn btn-default">Create Task</a>

<a asp-controller="Tasks" asp-action="List" class="btn btn-default">List Tasks</a>
