@model TaskManager.Models.TasksViewModels.CreateTaskViewModel

@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

@await Component.InvokeAsync("TaskTypesSelectList", Model.TaskTypeId)




<div class="row">
    <form asp-controller="Tasks" asp-action="CreateTask" method="post">



        @if (Model.TaskTypeId > 0)
        {
            if (Model.CommonTaskFormFields.Any())
            {

                <div class="row">
                    @for (int i = 0; i < Model.CommonTaskFormFields.Count; i++)
                    {

                        <div class="col-md-3">
                            <div class="form-group label-floating">

                                @Html.HiddenFor(p => p.CommonTaskFormFields[i].FieldName)
                                @Html.HiddenFor(p => p.CommonTaskFormFields[i].FieldDataType)
                                @Html.HiddenFor(p => p.CommonTaskFormFields[i].FieldType)

                                <label class="control-label">@Model.CommonTaskFormFields[i].FieldName</label>
                                <dynamic-form-field column-name="@Model.CommonTaskFormFields[i].FieldName"
                                                    column-value="@Model.CommonTaskFormFields[i].FieldValue"
                                                    column-index="@i"
                                                    field-type="@Model.CommonTaskFormFields[i].FieldType"
                                                    field-data-type="@Model.CommonTaskFormFields[i].FieldDataType"
                                                    is-editable="!@Model.CommonTaskFormFields[i].IsPrimaryKey" is-common-task-field="true" is-required="@Model.CommonTaskFormFields[i].Required"  />

                            </div>
                        </div>

                    }
                </div>


                @Html.Partial("_New", Model)

            }
        }
        <div class="row">
            <div class="col-md-12">

                <a asp-cocntroller="Tasks" asp-action="List" class="btn btn-primary pull-right">Cancel</a>
                <button type="submit" class="btn btn-primary pull-right">Create</button>

            </div>
        </div>
    </form>
</div>
