﻿@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}


@if (User.IsInRole("SuperUser"))
{
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="blue">
                <i class="material-icons">business</i>
            </div>
            <div class="card-content">
                <p class="category">Organizations</p>
                <h3 class="title"><small>manage organizations</small></h3>
            </div>
            <div class="card-footer">
                <div class="stats pull-right">
                    <a asp-controller="OrganizationSettings" asp-action="New" class="btn btn-primary btn-simple">New</a>
                    <a asp-controller="OrganizationSettings" asp-action="List" class="btn btn-primary btn-simple">List</a>
                </div>
            </div>
        </div>
    </div>

}



<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
            <i class="material-icons">list</i>
        </div>
        <div class="card-content">
            <p class="category">Tasks</p>
            <h3 class="title"><small>manage all tasks</small></h3>
        </div>
        <div class="card-footer">
            <div class="stats pull-right">
                <a asp-controller="Tasks" asp-action="New" class="btn btn-primary btn-simple">New</a>
                <a asp-controller="Tasks" asp-action="Index" class="btn btn-primary btn-simple">List</a>
                
            </div>
        </div>
    </div>
</div>
