﻿@{
    ViewData["Title"] = "Confirm Email Prompt";
}

<h2>Please confirm email and for security reasons enter your password.</h2>

<form asp-controller="Account"  asp-action="ConfirmEmail" method="post">
    <input type="hidden" value="@ViewData["userId"]" name="userId" />
    <input type="hidden" value="@ViewData["code"]" name="code" />

    <div>
        <label>Password</label>
        <input name="password" type="password" />
    </div>

    <div>
        <button type="submit">Confirm</button>
    </div>


</form>