﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="RoleId" class="col-md-2 control-label"></label>
        <div class="col-md-10">

            <select asp-for="RoleId" asp-items="@Model.RolesList" class="selectpicker">
                <option>Select Role</option>
            </select>

            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="TenantId" class="col-md-2 control-label"></label>
        <div class="col-md-10">

            <select asp-for="TenantId" asp-items="@Model.TenantsList" class="selectpicker">
                <option>Select Tenant</option>
            </select>

            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>
    </div>

    
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
