@*model inherited from main view*@
@model TaskSchedulerManager.Web.Models.TasksViewModels.CreateTaskViewModel
@using Microsoft.Extensions.Options;
@using TaskSchedulerManager.Services.Interfaces

@inject ITasksService tasksService
@inject IOptions<TaskSchedulerManager.Middleware.TenantMiddlewareOptions> options



@if (Model != null && Model.TaskTypeId > 0)
{
    <form asp-action="CreateTask" asp-controller="Tasks" method="post">

        <div class="row">

            <div class="card-content">

                <!--COMMON FORM-->              
                <div class="row card card-signup">
                    <!--Common form fields for all task types-->

                    <div class="col-md-1">
                        <div class="form-group label-floating">
                            <label class="control-label">Task Type ID</label>
                            <input asp-for="@Model.SettingsTask.TaskTypeId" value="@Model.TaskTypeId"  readonly/>
                        </div>
                    </div>
                    <div class="checkbox col-md-5">

                    </div>
                    <div class="checkbox col-md-2">
                        <label class="control-label">
                            <input type="checkbox" asp-for="@Model.SettingsTask.Disabled">
                        </label>
                        <label class="control-label">
                            Disabled
                        </label>
                    </div>
                    <div class="checkbox col-md-2">
                        <label class="control-label">
                            <input type="checkbox" asp-for="@Model.SettingsTask.RunOnStart">
                        </label>
                        <label class="control-label">
                            Run on Start
                        </label>
                    </div>

                    <div class="checkbox col-md-2">
                        <label class="control-label">
                            <input type="checkbox" asp-for="@Model.SettingsTask.EnableTracing">
                        </label>
                        <label class="control-label">
                            Enable Tracing
                        </label>
                    </div>


                    <div class="col-md-1">
                        <div class="form-group label-floating">
                            <label class="control-label">Start Time</label>
                            <input asp-for="@Model.SettingsTask.StartTime" type="time" value="00:00" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group label-floating">
                            <label class="control-label">End Time</label>
                            <input asp-for="@Model.SettingsTask.EndTime" type="time" value="00:00" />
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="form-group label-floating">
                            <label class="control-label">Interval</label>
                            <input asp-for="@Model.SettingsTask.Interval" type="number" />
                        </div>
                    </div>


                    <div class="col-md-1">
                        <div class="form-group label-floating">
                            <label class="control-label">Max Log Files</label>
                            <input asp-for="@Model.SettingsTask.MaxLogFiles" />
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="form-group label-floating">
                            <label class="control-label">Max Failures Allowed</label>
                            <input asp-for="@Model.SettingsTask.MaxFailuresAllowed" type="number"  allowEdit="@Model.EditableContent"/>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group label-floating">
                            <label class="control-label">Interval Failure Retry</label>
                            <input asp-for="@Model.SettingsTask.IntervalFailureRetry" type="number" />
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="form-group label-floating">
                            <label class="control-label">Total Run Per Time Range</label>
                            <input asp-for="@Model.SettingsTask.TotalRunPerTimeRange" type="number" />
                        </div>
                    </div>

                    <div class="col-md-12">

                    </div>


                    <div class="col-md-2">
                        <div class="form-group label-floating">
                            <label class="control-label">Email Success Setting ID</label>
                            <select asp-for="@Model.SettingsTask.EmailSuccessSettingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "EmailSuccessSettingId")" class="bootstrap-select col-md-10">
                                <option>Select one</option>
                            </select>
                            @*<input asp-for="@Model.SettingsTask.EmailSuccessSettingId" />*@
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group label-floating">
                            <label class="control-label">Email Failure Setting ID</label>
                            <select asp-for="@Model.SettingsTask.EmailFailureSettingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "EmailFailureSettingId")" class="bootstrap-select col-md-10">
                                <option>Select one</option>
                            </select>
                            @*<input asp-for="@Model.SettingsTask.EmailFailureSettingId" />*@
                        </div>
                    </div>

                </div>
                <!--END OF COMMON FORM-->

                <!--PARTIAL FORMS-->
                <div>
                    <!--Specific form fields based upon task type selection-->

                    @switch (Model.TaskTypeId.ToString())
                    {
                        case "1":
                            @Html.Partial("_Sage200Post", Model)
                            break;

                        case "2":
                            @Html.Partial("_RSOMasterUpload", Model)
                            break;

                        case "3":
                            Model.ReadFieldValue = false;
                            @Html.Partial("_RSOScanUpload", Model)
                            break;

                        case "4":
                            @Html.Partial("_RSOScanDownload", Model)
                            break;

                        case "5":
                            @Html.Partial("_RSOSage50Post", Model)
                            break;

                        case "6":
                            @Html.Partial("_Sage50Post", Model)
                            break;

                        case "7":
                            @Html.Partial("_RSOXeroPost", Model)
                            break;

                    }
                </div>
                <!--END OF PARTIAL FORMS-->

            </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right">Create Task</button>
        <div class="clearfix"></div>
    </form>
}
