﻿@*@model TaskSchedulerManager.Web.Models.TasksViewModels.CreateTaskViewModel

    @using Microsoft.Extensions.Options;
    @using TaskSchedulerManager.Services.Interfaces

    @inject ITasksService tasksService
    @inject IOptions<TaskSchedulerManager.Middleware.TenantMiddlewareOptions> options*@


@*<div class="row card card-signup">

        <div class="card-content">
            @foreach (var field in Model.TaskTypeSettings)
            {
                @if (field.SettingName != "TaskId")
                {
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">@field.SettingName</label>

                            @if (Model.TryGetFKFieldListOfValues(tasksService, options, @field.SettingName).Count > 0)
                            {
                                <select asp-for="@field.SettingName" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, @field.SettingName)" class="bootstrap-select col-md-10">
                                    <option>Select one</option>
                                </select>
                            }
                            else
                            {
                                @if (field.FieldType.ToLower() == "boolean")
                                {
                                    <select asp-for="@field.SettingName" class="bootstrap-select col-md-10">
                                        <option>Select one</option>
                                        <option>True</option>
                                        <option>False</option>
                                    </select>
                                }
                                else
                                {
                                    <input asp-for="@field.SettingName" field="@field" type="@field.FieldType" />
                                }

                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>*@


@model TaskSchedulerManager.Web.Models.TasksViewModels.CreateTaskViewModel

@using Microsoft.Extensions.Options;
@using TaskSchedulerManager.Services.Interfaces

@inject ITasksService tasksService
@inject IOptions<TaskSchedulerManager.Middleware.TenantMiddlewareOptions> options




@*<dynamic-form-field info="@Model" setting-name="@Model.TaskTypeSettings[1].SettingName" tenant-context="@options.Value.TenantDbContext" />*@






<div class="row card card-signup">

    <div class="card-content">

        @*@for (int i = 0; i < Model.TaskTypeSettings.Count(); i++)
        { 
            <dynamic-form-field info="@Model" setting-name="@Model.TaskTypeSettings[i].SettingName" tenant-context="@options.Value.TenantDbContext" />


        }*@



        @foreach (var field in Model.TaskTypeSettings)
        {

            @if (field.SettingName != "TaskId")
            {
                <div class="col-md-4">
                    <div class="form-group label-floating">
                        <label class="control-label">@field.SettingName</label>

                        @if (Model.TryGetFKFieldListOfValues(tasksService, options, @field.SettingName).Count > 0)
                        {
                            <select asp-for="@field.SettingName" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, @field.SettingName)" class="bootstrap-select col-md-10">
                                <option>Select one</option>
                            </select>
                        }
                        else
                        {
                            @if (field.FieldType.ToLower() == "boolean")
                            {
                                <select asp-for="@field.SettingName" class="bootstrap-select col-md-10">
                                    <option>Select one</option>
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            }
                            else
                            {
                                @*<input asp-for="@field.SettingName" field="@field" type="@field.FieldType" />*@

                                <dynamic-form-field info="@Model" setting-name="@field.SettingName" tenant-context="@options.Value.TenantDbContext" />

                            }

                        }
                    </div>
                </div>
            }
        }
    </div>
</div>


<br />
<br />


<!--


<div class="row card card-signup">

    <div class="card-content">


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Backup Path</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.BackupPath" allowEdit="@Model.EditableContent"/>
            </div>
        </div>



        <div class="checkbox col-md-2">
            <label class="control-label">
                <input type="checkbox" asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.ClearBeforeUpload" allowEdit="@Model.EditableContent">
            </label>
            <label class="control-label">
                Clear Before Upload
            </label>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Csv Separator</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.CsvSeparator" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Data File Path</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.DataFilePath" allowEdit="@Model.EditableContent"/>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Data File Pattern</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.DataFilePattern" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Data File Pattern Ext</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.DataFilePatternExt" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Data File Pattern Mask</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.DataFilePatternMask" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Db Command Text</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.DbcommandText" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Db Command Type</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.DbcommandType" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Connection String</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.DbconnectionString" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Error Path</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.ErrorPath" allowEdit="@Model.EditableContent"/>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Field Mapping Id</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.FieldMappingId" allowEdit="@Model.EditableContent" />*@
                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "FieldMappingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.FieldMappingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "FieldMappingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }

            </div>
        </div>



        <div class="checkbox col-md-2">
            <label class="control-label">
                <input type="checkbox" asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.IsSplitFiles" allowEdit="@Model.EditableContent">
            </label>
            <label class="control-label">
                Is Split Files
            </label>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">RSO Setting Id</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.RsosettingId" allowEdit="@Model.EditableContent"/>*@

                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "RSOSettingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.RsosettingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "RSOSettingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }
            </div>
        </div>

        <div class="checkbox col-md-2">
            <label class="control-label">
                <input type="checkbox" asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.SkipFirstLine" allowEdit="@Model.EditableContent">
            </label>
            <label class="control-label">
                Skip First Line
            </label>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Upload Type</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_MasterUpload.UploadType" allowEdit="@Model.EditableContent"/>
            </div>
        </div>



    </div>
</div>




-->
