﻿@model TaskSchedulerManager.Web.Models.TasksViewModels.CreateTaskViewModel

@using Microsoft.Extensions.Options;
@using TaskSchedulerManager.Services.Interfaces

@inject ITasksService tasksService
@inject IOptions<TaskSchedulerManager.Middleware.TenantMiddlewareOptions> options


Settings_RSO_ScanDownload



<div class="row card card-signup">
    <div class="card-content">
        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">ID</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.Id" readonly/>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Backup Path</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.BackupPath" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="checkbox col-md-2">
            <label class="control-label">
                <input type="checkbox" asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.ClearBeforeUpload" allowEdit="@Model.EditableContent">
            </label>
            <label class="control-label">
                Clear Before Upload
            </label>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">CSV Separator</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.CsvSeparator" allowEdit="@Model.EditableContent"/>
            </div>
        </div>




        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Data File Path</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.DataFilePath" allowEdit="@Model.EditableContent"/>
            </div>
        </div>




        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">DataFilePattern</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.DataFilePattern" allowEdit="@Model.EditableContent"/>
            </div>
        </div>




        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">DataFilePatternExt</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.DataFilePatternExt" allowEdit="@Model.EditableContent" />
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">DataFilePatternMask</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.DataFilePatternMask" allowEdit="@Model.EditableContent"/>
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">DbcommandText</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.DbcommandText" allowEdit="@Model.EditableContent"/>
            </div>
        </div>




        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">DbcommandType</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.DbcommandType" allowEdit="@Model.EditableContent"/>
            </div>
        </div>





        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">DbconnectionString</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.DbconnectionString" allowEdit="@Model.EditableContent"/>
            </div>
        </div>




        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">ErrorPath</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.ErrorPath" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">FieldMappingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.FieldMappingId" allowEdit="@Model.EditableContent"/>*@
                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "FieldMappingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.FieldMappingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "FieldMappingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }
            </div>
        </div>

     

        <div class="checkbox col-md-2">
            <label class="control-label">
                <input type="checkbox" asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.IsSplitFiles" allowEdit="@Model.EditableContent">
            </label>
            <label class="control-label">
                Is Split Files
            </label>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">RsosettingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.RsosettingId" allowEdit="@Model.EditableContent"/>*@

                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "RSOSettingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.RsosettingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "RSOSettingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }

            </div>
        </div>


        <div class="checkbox col-md-2">
            <label class="control-label">
                <input type="checkbox" asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.SkipFirstLine" allowEdit="@Model.EditableContent">
            </label>
            <label class="control-label">
                SkipFirstLine
            </label>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">TaskId</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.TaskId" allowEdit="@Model.EditableContent"/>
            </div>
        </div>




        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">UploadType</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoMasterUpload.UploadType" allowEdit="@Model.EditableContent"/>
            </div>
        </div>





       
    </div>
</div>
