﻿@model TaskSchedulerManager.Web.Models.TasksViewModels.CreateTaskViewModel

@using Microsoft.Extensions.Options;
@using TaskSchedulerManager.Services.Interfaces

@inject ITasksService tasksService
@inject IOptions<TaskSchedulerManager.Middleware.TenantMiddlewareOptions> options


Settings_RSO_ScanUpload




<div class="row card card-signup">

    <div class="card-content">

        @*@for (int i = 0; i < Model.TaskTypeSettings.Count(); i++)
            {
                <dynamic-form-field info="@Model" setting-name="@Model.TaskTypeSettings[i].SettingName" tenant-context="@options.Value.TenantDbContext" />


            }*@



        @foreach (var field in Model.TaskTypeSettings)
        {

            @if (field.SettingName != "TaskId")
            {
                <div class="col-md-4">
                    <div class="form-group label-floating">
                        <label class="control-label">@field.SettingName</label>

                        @if (Model.TryGetFKFieldListOfValues(tasksService, options, @field.SettingName).Count > 0)
                        {
                            <select asp-for="@field.SettingName" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, @field.SettingName)" class="bootstrap-select col-md-10">
                                <option>Select one</option>
                            </select>
                        }
                        else
                        {
                            @if (field.FieldType.ToLower() == "boolean")
                            {
                                <select asp-for="@field.SettingName" class="bootstrap-select col-md-10">
                                    <option>Select one</option>
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            }
                            else
                            {
                                @*<input asp-for="@field.SettingName" field="@field" type="@field.FieldType" />*@

                                <dynamic-form-field info="@Model" setting-name="@field.SettingName" tenant-context="@options.Value.TenantDbContext" read-field-value="@Model.ReadFieldValue" main-connection-string="" tenant-connection-string="@options.Value.TenantDbContext" />

                            }

                        }
                    </div>
                </div>
            }
        }
    </div>
</div>


<!--
    

<div class="row card card-signup">
    <div class="card-content">
        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">ID</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_ScanUpload.Id" readonly/>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">AutoBuyerId</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_ScanUpload.AutoBuyerId" allowEdit="@Model.EditableContent"/>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">AutoCreateFolder</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_ScanUpload.AutoCreateFolder" allowEdit="@Model.EditableContent"/>
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">AutoDetection</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_ScanUpload.AutoDetection" allowEdit="@Model.EditableContent"/>
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">BackupPath</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_ScanUpload.BackupPath" allowEdit="@Model.EditableContent"/>
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">BatchListId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoScanUpload.BatchListId" allowEdit="@Model.EditableContent"/>*@


                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "BatchListId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.Settings_RSO_ScanUpload.BatchListId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "BatchListId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">BatchPath</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_ScanUpload.BatchPath" allowEdit="@Model.EditableContent"/>
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">DefaultDocumentSystemName</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_ScanUpload.DefaultDocumentSystemName" allowEdit="@Model.EditableContent"/>
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">MaxFileSize</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_ScanUpload.MaxFileSize" allowEdit="@Model.EditableContent"/>
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">OverMaxSizeFilePath</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_ScanUpload.OverMaxSizeFilePath" allowEdit="@Model.EditableContent"/>
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">RsosettingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoScanUpload.RsosettingId" allowEdit="@Model.EditableContent"/>*@

                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "RSOSettingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.Settings_RSO_ScanUpload.RsosettingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "RSOSettingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">TaskId</label>
                <input asp-for="@Model.SettingsTask.Settings_RSO_ScanUpload.TaskId" allowEdit="@Model.EditableContent"/>
            </div>
        </div>


    </div>
</div>


-->

