﻿@model TaskSchedulerManager.Web.Models.TasksViewModels.CreateTaskViewModel

@using Microsoft.Extensions.Options;
@using TaskSchedulerManager.Services.Interfaces

@inject ITasksService tasksService
@inject IOptions<TaskSchedulerManager.Middleware.TenantMiddlewareOptions> options

Settings_RSO_Xero

<div class="row card card-signup">
    <div class="card-content">
        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">ID</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoXero.Id" readonly/>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">AppName</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoXero.AppName" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Buyer</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoXero.Buyer" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">ConsumerKey</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoXero.ConsumerKey" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">ConsumerSecret</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoXero.ConsumerSecret" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">DebugLogSettingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoXero.DebugLogSettingId" allowEdit="@Model.EditableContent"/>*@

                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "DebugLogSettingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.SettingsRsoXero.DebugLogSettingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "DebugLogSettingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">DownloadSettingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoXero.DownloadSettingId" allowEdit="@Model.EditableContent"/>*@


                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "DownloadSettingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.SettingsRsoXero.DownloadSettingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "DownloadSettingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }
            </div>
        </div>

        <div class="checkbox col-md-2">
            <label class="control-label">
                <input type="checkbox" asp-for="@Model.SettingsTask.SettingsRsoXero.InvoiceLogEnabled" allowEdit="@Model.EditableContent">
            </label>
            <label class="control-label">
                InvoiceLogEnabled
            </label>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">InvoiceLogPath</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoXero.InvoiceLogPath" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">OrganizationName</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoXero.OrganizationName" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">RsosettingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoXero.RsosettingId" allowEdit="@Model.EditableContent"/>*@

                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "RSOSettingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.SettingsRsoXero.RsosettingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "RSOSettingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }


            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">TaskId</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoXero.TaskId" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="checkbox col-md-2">
            <label class="control-label">
                <input type="checkbox" asp-for="@Model.SettingsTask.SettingsRsoXero.UseXeroFailureSupplier" allowEdit="@Model.EditableContent">
            </label>
            <label class="control-label">
                UseXeroFailureSupplier
            </label>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">XeroFailureSupplier</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoXero.XeroFailureSupplier" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        

    </div>
</div>



