﻿@model TaskSchedulerManager.Web.Models.TasksViewModels.CreateTaskViewModel

@using Microsoft.Extensions.Options;
@using TaskSchedulerManager.Services.Interfaces

@inject ITasksService tasksService
@inject IOptions<TaskSchedulerManager.Middleware.TenantMiddlewareOptions> options

Settings_RSO_Sage50


<div class="row card card-signup">
    <div class="card-content">


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">ID</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoSage50.Id" readonly/>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Attachment Path</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoSage50.AttachmentPath"  allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Compay</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoSage50.Company" allowEdit="@Model.EditableContent"/>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Database Path</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoSage50.DatabasePath" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Download Setting Id</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoSage50.DownloadSettingId" allowEdit="@Model.EditableContent"/>*@

                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "DownloadSettingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.SettingsRsoSage50.DownloadSettingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "DownloadSettingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }

            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">HeaderFieldMappingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoSage50.HeaderFieldMappingId" allowEdit="@Model.EditableContent"/>*@


                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "HeaderFieldMappingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.SettingsRsoSage50.HeaderFieldMappingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "HeaderFieldMappingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }

            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">LineFieldMappingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoSage50.LineFieldMappingId" allowEdit="@Model.EditableContent"/>*@

                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "LineFieldMappingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.SettingsRsoSage50.LineFieldMappingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "LineFieldMappingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Password</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoSage50.Password" allowEdit="@Model.EditableContent"/>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">RsosettingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsRsoSage50.RsosettingId" allowEdit="@Model.EditableContent"/>*@

                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "RSOSettingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.SettingsRsoSage50.RsosettingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "RSOSettingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }
            </div>
        </div>




        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">TaskId</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoSage50.TaskId" allowEdit="@Model.EditableContent"/>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">UserName</label>
                <input asp-for="@Model.SettingsTask.SettingsRsoSage50.UserName" allowEdit="@Model.EditableContent"/>
            </div>
        </div>
    
    </div>
</div>