﻿@model TaskSchedulerManager.Web.Models.TasksViewModels.CreateTaskViewModel

@using Microsoft.Extensions.Options;
@using TaskSchedulerManager.Services.Interfaces

@inject ITasksService tasksService
@inject IOptions<TaskSchedulerManager.Middleware.TenantMiddlewareOptions> options

Settings_Sage200_Posting


<div  class="row card card-signup">
    <div class="card-content">
        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">ID</label>
                <input asp-for="@Model.SettingsTask.Settings_Sage200_Posting.Id"  readonly/>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">AdestWebServiceSettingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsSage200Posting.AdestWebServiceSettingId" allowEdit="@Model.EditableContent"/>*@

                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "AdestWebServiceSettingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.Settings_Sage200_Posting.AdestWebServiceSettingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "AdestWebServiceSettingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }
            </div>
        </div>

        

        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Company</label>
                <input asp-for="@Model.SettingsTask.Settings_Sage200_Posting.Company" allowEdit="@Model.EditableContent"/>
            </div>
        </div>




        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">DebugLogSettingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsSage200Posting.DebugLogSettingId" allowEdit="@Model.EditableContent"/>*@

                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "DebugLogSettingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.Settings_Sage200_Posting.DebugLogSettingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "DebugLogSettingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }
            </div>
        </div>




        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">HeaderFieldMappingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsSage200Posting.HeaderFieldMappingId" allowEdit="@Model.EditableContent"/>*@


                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "HeaderFieldMappingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.Settings_Sage200_Posting.HeaderFieldMappingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "HeaderFieldMappingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }
            </div>
        </div>




        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">LineFieldMappingId</label>
                @*<input asp-for="@Model.SettingsTask.SettingsSage200Posting.LineFieldMappingId" allowEdit="@Model.EditableContent"/>*@

                @if (Model.TryGetFKFieldListOfValues(tasksService, options, "LineFieldMappingId").Count > 0)
                {
                    <select asp-for="@Model.SettingsTask.Settings_Sage200_Posting.LineFieldMappingId" asp-items="@Model.TryGetFKFieldListOfValues(tasksService, options, "LineFieldMappingId")" class="bootstrap-select col-md-10" allowEdit="@Model.EditableContent">
                        <option>Select one</option>
                    </select>
                }
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">Password</label>
                <input asp-for="@Model.SettingsTask.Settings_Sage200_Posting.Password" allowEdit="@Model.EditableContent"/>
            </div>
        </div>



        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">TaskId</label>
                <input asp-for="@Model.SettingsTask.Settings_Sage200_Posting.TaskId" allowEdit="@Model.EditableContent"/>
            </div>
        </div>




        <div class="col-md-4">
            <div class="form-group label-floating">
                <label class="control-label">UserName</label>
                <input asp-for="@Model.SettingsTask.Settings_Sage200_Posting.UserName" allowEdit="@Model.EditableContent"/>
            </div>
        </div>

    </div>
</div>
