﻿@*model inherited from main view*@
@model TaskSchedulerManager.Web.Models.TasksViewModels.CreateTaskViewModel
@using Microsoft.Extensions.Options;
@using TaskSchedulerManager.Services.Interfaces

@inject ITasksService tasksService
@inject IOptions<TaskSchedulerManager.Middleware.TenantMiddlewareOptions> options



<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">Edit Task</h4>
            <p class="category">Task Details</p>
        </div>

        <div class="card-content">

            @{
                Model.EditableContent = true;
            }

            <!--Dynamically rendered form-->
            @Html.Partial("_Edit", Model)
            <!--End of Dynamically rendered form-->

        </div>
    </div>
</div>
