@model  IEnumerable<TaskTypesViewModel>

@{
    ViewData["Title"] = "TasksController";
}


<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">Tasks</h4>
            <p class="category">Available tasks listed below</p>
        </div>
        <div class="card-content table-responsive">

            @foreach (var taskType in Model)
            {

                <ul class="actions">
                    <li>
                        <h2>@taskType.Description</h2>
                        <a class="button special small" data-toggle="collapse" href="@("#collapse"+@taskType.TaskTypeId)" aria-expanded="false" aria-controls="collapseExample">View Settings</a>
                    </li>
                </ul>


                <div class="collapse" id="@("collapse"+taskType.TaskTypeId)">
                    <div class="box">
                        <div class="table-wrapper">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Is Core</th>
                                        <th>Min Length</th>
                                        <th>Max Length</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var setting in taskType.TaskTypeSettings)
                                    {
                                        <tr>
                                            <td>@setting.SettingName    </td>
                                            <td>@setting.FieldType      </td>
                                            <td>@setting.IsCore     </td>
                                            <td>@setting.MinLength      </td>
                                            <td>@setting.MaxLength      </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


                <hr class="major" />
            }
        </div>
    </div>
</div>
