@model TaskSchedulerManager.Web.Models.TasksViewModels.CreateTaskViewModel

@{
    ViewData["Title"] = "TasksController";
}


<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">Create Tasks</h4>
            <p class="category">Select the type of task you want to create</p>
        </div>

        <div class="card-content">

            @await Component.InvokeAsync("TaskTypesSelectList", Model.TaskTypeId)

            @{
                Model.EditableContent = true;
            }

            <!--Dynamically rendered form-->
            @Html.Partial("_New", Model)
            <!--End of Dynamically rendered form-->

        </div>
    </div>
</div>
