@*ViewComponent TaskTypesSelectList*@

@model TaskSchedulerManager.Web.Models.TasksViewModels.SelectTaskTypeViewModel



<form id="formNewTask" asp-controller="Tasks" asp-action="SelectTaskType">

    <div class="row">
        <div class="col-md-5">
            <div class="form-group label-floating">
                @*<label class="control-label">Task Type</label>*@
                <select asp-for="TaskTypeId" asp-items="@Model.TaskTypesList" class="selectpicker col-md-10" onchange="$('#formNewTask').submit();">
                    <option>Select Task Type</option>
                </select>
            </div>
        </div>
    </div>
</form>