﻿@{
    ViewData["Title"] = "Confirm Email Prompt";
}

<h2>Please confirm email and for security reasons enter your password.</h2>

<form asp-controller="Account" asp-action="ConfirmEmail" method="post">
    <input type="hidden" value="@ViewData["userId"]" name="userId" />
    <input type="hidden" value="@ViewData["code"]" name="code" />




    <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input name="password" type="password" class="form-control" />
        </div>
    </div>

    <div  class="form-group">
        <button type="submit">Confirm</button>
    </div>


</form>