@model List<TaskManager.DTO.SQLiteRecordDTO>

@{
    ViewData["Title"] = "Display";
}

<h2>Display</h2>


<form asp-action="UpdateOrganization" asp-controller="Organizations">





    <div class="row">

        @for (int i = 0; i < Model.Count(); i++)
        {
            <div class="col-md-3">
                <div class="form-group label-floating">
                    <label class="control-label">@Model[i].ColumnName</label>


                    @Html.HiddenFor(p => p[i].ColumnName)
                    @Html.HiddenFor(p => p[i].DataType)
                    @Html.HiddenFor(p => p[i].FieldType)

                    <dynamic-form-field column-name="@Model[i].ColumnName" column-value="@Model[i].ColumnValue" column-index="@i" field-type="@Model[i].FieldType" field-data-type="@Model[i].DataType" is-editable="false" />



                    @*@if (@Model[i].DataType == "checkbox")
                        {
                            <input type="@Model[i].DataType" class="form-control" asp-for="@Model[i].ColumnValueBool" readonly disabled="disabled">

                        }
                        else if(Model[i].DataType == "text")
                        {
                            <input type="@Model[i].DataType" class="form-control" asp-for="@Model[i].ColumnValueString" readonly>
                        }
                        else
                        {
                            <input type="@Model[i].DataType" class="form-control" asp-for="@Model[i].ColumnValueNumber" readonly>

                        }*@



                </div>
            </div>

        }


    </div>



    <a asp-controller="Organizations" asp-action="List" class="btn btn-primary pull-right">Return</a>
    <a asp-controller="Organizations" asp-action="Edit" asp-route-id="@int.Parse(@Model.Where(r=>r.ColumnName == "TenantId").FirstOrDefault().ColumnValue)" class="btn btn-primary pull-right">Edit</a>

    <div class="clearfix"></div>
</form>
