@model List<TaskManager.DTO.SQLiteRecordDTO>

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<script>
    function handleCheckboxClick(controlId) {

        if (document.getElementById(controlId).checked) {
            document.getElementById(controlId).value = 1;
     
        }
    };
</script>

<div class="row">
    <form asp-controller="Organizations" asp-action="UpdateOrganization" method="post">

        @for (int i = 0; i < Model.Count(); i++)
        {
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group label-floating">
                        <label class="control-label">@Model[i].ColumnName</label>



                        @Html.HiddenFor(p => p[i].ColumnName)
                        @Html.HiddenFor(p => p[i].DataType)
                        @Html.HiddenFor(p => p[i].FieldType)

                        <dynamic-form-field column-name="@Model[i].ColumnName" column-value="@Model[i].ColumnValue" column-index="@i" field-type="@Model[i].FieldType" field-data-type="@Model[i].DataType" is-editable="true" />


                        
                        @*<input asp-for="@Model[i].ColumnValue" class="form-control" />*@

                    </div>
                </div>
            </div>

        }




        <a asp-cocntroller="Organizations" asp-action="Display" asp-route-id="@Model[0].ColumnValue" class="btn btn-primary pull-right">Cancel</a>
        <button type="submit" class="btn btn-primary pull-right">Update</button>
    </form>
</div>