
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>



<div class="row">
    <div class="col-xs-6 col-md-3">
        <a class="btn" asp-action="List">
            <i class="glyphicon glyphicon-list" style="font-size:25px;"></i> <span>List</span>
        </a> 
    </div>
    
</div>