@using System.Data.Common;

@model List<DbDataRecord>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<a asp-action="New" asp-controller="Organizations">New Organization</a>

<table class="table table-hover">
    <thead class="text-warning">
        @for (int i = 0; i < Model[0].FieldCount; i++)
        {
            <th>
                @Model[0].GetName(i)
            </th>


        }
        <th>
           
        </th>

        </thead>

        <tbody>

            @foreach (var record in Model)
            {
                <tr>
                    @for (int i = 0; i < record.FieldCount; i++)
                    {


                        var columnName = record.GetName(i);

                        if (record[columnName] != null)
                        {
                            <td>@record[columnName].ToString()</td>
                        }


                    }
                    <td>
                        <a rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs" asp-controller="Organizations" asp-action="Edit" asp-route-id="@record["TenantId"]">
                            <i class="material-icons">edit</i>
                        </a>
                        <a rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs" asp-controller="Organizations" asp-action="Display" asp-route-id="@record["TenantId"]">
                            <i class="material-icons">view</i>
                        </a>

                        <a rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" asp-controller="Organizations" asp-action="Delete" asp-route-id="@record["TenantId"]">
                            <i class="material-icons">remove</i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
