﻿@model List<TaskManager.DTO.SQLiteRecordDTO>

@{
    ViewData["Title"] = "New";
}

<h2>New</h2>



<div class="row">
    <form asp-controller="Organizations" asp-action="CreateOrganization" method="post">


        <div class="row">
            @for (int i = 0; i < Model.Count(); i++)
            {
                @Html.HiddenFor(p => p[i].ColumnName)
                @Html.HiddenFor(p => p[i].DataType)
                @Html.HiddenFor(p => p[i].FieldType)

                @if (@Model[i].ColumnName != "TenantId")
                {
                    <div class="col-md-3">
                        <div class="form-group label-floating">
                            <label class="control-label">@Model[i].ColumnName</label>
                            <dynamic-form-field column-name="@Model[i].ColumnName" column-value="@Model[i].ColumnValue" column-index="@i" field-type="@Model[i].FieldType" field-data-type="@Model[i].DataType" is-editable="@Model[i].IsEditable" />

                        </div>
                    </div>
                }

            }
        </div>

        <a asp-cocntroller="Organizations" asp-action="List" class="btn btn-primary pull-right">Cancel</a>
        <button type="submit" class="btn btn-primary pull-right">Create</button>
    </form>
</div>