@model TaskSchedulerManager.Web.Models.OrganizationSettingsViewModels.CreateOrganizationSettingsViewModel
@{
    ViewData["Title"] = "New";
}





<div class="col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">Organization</h4>
            <p class="category">Add details for the new organization</p>
        </div>
        <div class="card-content">
            <form asp-controller="OrganizationSettings" asp-action="Edit" method="get">
                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group label-floating">
                            <label class="control-label">ID</label>
                            <input typeof="text" class="form-control" asp-for="@Model.TenantId" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes" asp-for="Disabled" readonly>
                                    Disabled
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group label-floating">
                            <label class="control-label">Company name</label>
                            <input type="text" class="form-control" asp-for="TenantName" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group label-floating">
                            <label class="control-label">Alias</label>
                            <input type="text" class="form-control" asp-for="TenantAlias" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group label-floating">
                            <label class="control-label">Access Key</label>
                            <input type="text" class="form-control" asp-for="AccessKey" readonly>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group label-floating">
                            <label class="control-label">Domain Name</label>
                            <input type="text" class="form-control" asp-for="TenantDomain" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group label-floating">
                            <label class="control-label">Database Name</label>
                            <input type="text" class="form-control" asp-for="TenantDatabase" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Notes</label>
                            <div class="form-group label-floating">
                                <label class="control-label"> Enter additional information here...</label>
                                <textarea class="form-control" rows="5" asp-for="Notes" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <a asp-controller="OrganizationSettings" asp-action="List" class="btn btn-primary pull-right">Return</a>
                <a asp-controller="OrganizationSettings" asp-action="Edit" asp-route-id="@Model.TenantId" class="btn btn-primary pull-right">Edit</a>
                <div class="clearfix"></div>
            </form>

        </div>
    </div>
</div>