@model IEnumerable<TaskSchedulerManager.Web.Models.OrganizationSettingsViewModels.CreateOrganizationSettingsViewModel>

@{
    ViewData["Title"] = "List";
}


<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">All Organizations</h4>
            <p class="category"></p>
        </div>
        <div class="card-content table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                <th>ID</th>
                <th>Name</th>
                <th>Domain</th>
                <th>Database</th>
                <th>Actions</th>
                </thead>
                <tbody>
                    @foreach (var org in Model)
                    {
                        <tr>
                            <td>@org.TenantId</td>
                            <td>@org.TenantName</td>
                            <td>@org.TenantDomain</td>
                            <td>@org.TenantDatabase</td>
                            <td class="td-actions">
                                <a rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs" asp-controller="OrganizationSettings" asp-action="Edit" asp-route-id="@org.TenantId">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs" asp-controller="OrganizationSettings" asp-action="Display" asp-route-id="@org.TenantId">
                                    <i class="material-icons">launch</i>
                                </a>

                                <a rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" asp-controller="OrganizationSettings" asp-action="Delete" asp-route-id="@org.TenantId">
                                    <i class="material-icons">close</i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>