@model TaskSchedulerManager.Web.Models.OrganizationSettingsViewModels.CreateOrganizationSettingsViewModel
@{
    ViewData["Title"] = "New";
}





<div class="col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">Organization</h4>
            <p class="category">Add details for the new organization</p>
        </div>
        <div class="card-content">
            <form asp-controller="OrganizationSettings" asp-action="New" method="post">
                <div class="row" style="visibility:hidden;">
                    <div class="col-md-1">
                        <div class="form-group label-floating">
                            <label class="control-label">ID</label>
                            <input type="hidden" typeof="text" class="form-control" asp-for="@Model.TenantId" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes" asp-for="Disabled">
                                    Disabled
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group label-floating">
                            <label class="control-label">Company name</label>
                            <input type="text" class="form-control" asp-for="TenantName">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group label-floating">
                            <label class="control-label">Alias</label>
                            <input type="text" class="form-control" asp-for="TenantAlias">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group label-floating">
                            <label class="control-label">Access Key</label>
                            <input type="text" class="form-control" asp-for="AccessKey">
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group label-floating">
                            <label class="control-label">Domain Name</label>
                            <input type="text" class="form-control" asp-for="TenantDomain">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group label-floating">
                            <label class="control-label">Database Name</label>
                            <input type="text" class="form-control" asp-for="TenantDatabase">
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Notes</label>
                            <div class="form-group label-floating">
                                <label class="control-label"> Enter additional information here...</label>
                                <textarea class="form-control" rows="5" asp-for="Notes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary pull-right">Cancel</a>
                <button type="submit" class="btn btn-primary pull-right">Create</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>